In [1]:
import pandas as pd

In [2]:
#importing training set
df = pd.read_csv("Train.csv")
df.head()

,Mean_Profile,SD_Profile,Excess_kurtosis_Profile,Skewness_Profile,Mean_Curve,SD_Curve,Excess_kurtosis_curve,Skewness_curve,Pulsar
0,139.937500,53.439035,-0.039384,-0.284501,2.052676,15.381810,10.683568,138.329152,0
1,139.625000,49.633973,-0.184105,-0.015896,0.939799,10.092949,17.078812,367.454955,0
2,106.648438,55.669587,0.377442,-0.594865,1.557692,14.090161,12.268356,171.990291,0
3,83.015625,38.095272,0.514061,2.177837,1.945652,16.407373,9.732946,104.435977,0
4,116.468750,35.632222,0.386352,2.199301,1.541806,14.173109,12.022914,164.296414,0

In [3]:
#seperating feature columns and given outputs
train_x = df[df.columns[0:8]]
train_y = df[df.columns[8]]

In [4]:
#Here, SVM classifier is being used
from sklearn import svm

In [5]:
clf = svm.SVC(gamma = 'auto')

In [6]:
clf.fit(train_x, train_y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [7]:
#importing test dataset
df_test = pd.read_csv('Test.csv')
df_test.head()

,Mean_Profile,SD_Profile,Excess_kurtosis_Profile,Skewness_Profile,Mean_Curve,SD_Curve,Excess_kurtosis_curve,Skewness_curve
0,114.531250,43.977078,0.348897,0.962387,1.548495,13.955201,10.927910,140.540754
1,108.617188,45.805656,0.500210,0.328802,2.734950,20.424979,8.552659,78.183891
2,105.546875,41.360998,0.219053,0.555135,2.469900,14.960704,9.051707,103.517934
3,94.507812,33.818910,0.401374,3.052846,2.749164,21.541023,8.608826,78.096962
4,122.562500,45.473679,0.062036,0.417907,2.964047,21.711191,8.214987,71.957368

In [11]:
y_pred = clf.predict(df_test)
score = clf.score(train_x, train_y)
score, y_pred.max()

(0.9933748403575989, 1)

In [73]:
#converting np_array (y_pred) into pandas dataframe
dataframe = pd.DataFrame(y_pred, columns = ["Predictions"], index = range(1, 5371))

In [74]:
#writing predictions into Predictions.csv 
dataframe.to_csv("Predictions.csv")